/* Begin RCM Styles ------------------------------------------------ */
.eq-rcm {
    $rcm-border-color: $eq-chrome;
    background-color: $eq-light-gray;
    padding: 40px 30px 20px;
    border-top-right-radius: $eq-border-radius;
    border-top-left-radius: $eq-border-radius;

    a {
        font-weight: bold;
    }

    .media-object,
    h4.media-type,
    p {
        color: $eq-carbon;
    }

    h3.eq-rcm-header {
        margin: 0 0 20px;
    }

    ul {
        margin: 15px 0 !important;
        padding: 0 0 20px;
        border-bottom: 1px solid $rcm-border-color;

        &:last-child {
            border-bottom: none;
        }

        li {
            color: $eq-platinum;
            list-style: square;
            margin-left: 18px;
            padding-top: 2px;
            font-size: 14px;
        }
    }

    .eq-media-type {
        font: 300 14px/24px $font-stack-proxima-nova-light;
        margin: 0;
        text-transform: uppercase;
    }

    .media-object {
        font-size: 36px;
        height: 36px;
        width: 36px;
        min-width: 50px;
        color: $eq-mid-gray;
        text-align: right;
        margin-right: 10px;
    }

    .eq-rcm-column-2 {
        border-left: 1px solid $rcm-border-color;
        padding-left: 20px;
        @include xsmall {
            border-left: none;
            padding-left: 15px;
        }
        h4 {
            margin-top: 25px;
        }
    }
}
.container-fluid.eq-rcm-container-fluid {
    background-color: $eq-light-gray;
    .eq-rcm-container {
        .eq-rcm {
            border-radius: 0px;
        }
    }
}

/* End RCM Styles ------------------------------------------------ */
