/* Begin Modal Styles ----------------------------------*/

.modal {
    .modal-content{
        border-radius: 7px;
        background-color: transparent;
    }
    .modal-body {
        background-color: #fff;
        border-bottom-left-radius: $eq-border-radius;
        border-bottom-right-radius: $eq-border-radius;
        p{
            font-family: $font-stack-proxima-nova;
            font-size: 16px;
            font-size: 1.6rem;
        }
    }
    .modal-header{
        color: $eq-white;
        background-color: $eq-dark-gray;
        border-top-left-radius: $eq-border-radius;
        border-top-right-radius: $eq-border-radius;
        button i{
            color: $eq-light-gray;
            font-weight: bold;
        }
    }
    .form-wrapper{
        form{
            border: none;
        }
    }
    .modal-dialog {
        border-radius: $eq-border-radius;
        @include large{
            width: 500px;
        }
        @include mobile{
            width: 95%;
        }
    }
}

/* End Modal Styles ----------------------------------*/
