/* Begin Breadcrumb Styles ------------------------------------------------ */

.breadcrumb {
  border: 1px solid $eq-gray;
  border-top: none;
  border-radius: 0px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0px;
  z-index: 6;
  background: white;
  li {
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 0 10px 0 25px;
    position: relative;
    vertical-align: initial;
    &:first-child {
      padding: 0 5px 0 10px;
      &:before {
        top: 18px;
      }
    }
    &:last-child {
      &:before, &:after {
        border-color: transparent;
      }
    }
    &:before, &:after {
      content: "";
      border-right: 1px solid $eq-gray;
      position: absolute;
    }
    &:before {
      // bottom border
      right: -10px;
      top: 16px;
      height: 22px;
      transform: rotate(30deg);
    }
    &:after {
      // top border
      height: 23px;
      top: -2px;
      right: -9px;
      transform: rotate(-30deg);
    }
    a {
      position: relative;
    }
  }
  > .active {
    color: $eq-black;
  }
}
.breadcrumb>li+li:before,
.breadcrumb>li+li:after {
  content: "";
}

/* End Breadcrumb Styles ------------------------------------------------ */
