
@media screen and (min-width: 767px){

/* Fixed Header Begin --------------------------> */

#eq-main-header{
  &.minimal{
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  &.minimal {
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
    &.menu-fade{
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      transition: all 0.5s ease;
    }
    a{
        font-size: 14px;
        font-size: 1.4rem;
        padding: 10px;
    }
    h4{
        padding: 0 0 10px 0;
    }
    .utility-nav-item{
        a{
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
   }
  .navbar-brand{
    padding: 11px 15px 0 ;
    height: 40px;
  }
  #eq-main-navbar{
      float: left;
      margin-top: 2px;
    }
  #eq-logo-sm{
      float: left;
    }
  #eq-utility-navbar{
      padding: 0;
      float: right;
      margin: 8px 0 5px 0;
      .navbar-right{
          margin-top: 0;
      }
      .utility-nav-item{
          margin: 0 0 0 15px;
      }
      a{
          font-size: 12px;
          font-size: 1.2rem;
          padding: 7px 20px 3px;
      }
    }
    > .container {
        padding: 6px 0 0 0;
    }
  }
}

/* Fixed Header End --------------------------> */
}
