/* Header Styles Begin --------------------------> */

#eq-main-header{
  padding: 0;
  &.navbar {
    box-shadow: 2px 2px 6px 0 rgba(112, 112, 115, 0.5);
    border-top: 3px solid $eq-red;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 0;
    z-index: 100;
    background: $eq-white;
  }
  .header-wrapper{
    display: inline-block;
    text-align: center;
  }
}
#eq-utility-navbar{
  margin: 10px 0 14px;
  a {
    color: $eq-dark-gray;
    font-size: 15px;
  }
  span {
    margin: 0 2px
  }
  .text{
    font-size: 12px;
  }
  .fa{
    font-size: 18px;
    font-size: 1.8rem;
  }
  .utility-nav-item {
    margin: 0 0 0 30px;
    color: $eq-dark-gray;
  }
  .caret{
    color: $eq-mid-gray;
    font-size: 24px;
    font-size: 2.4rem;
  }
  .navbar-right{
    margin: 5px 0;
  }
  ul.dropdown-menu{
    padding: 0;
    z-index: 10000;
    li{
      background-color: $eq-lightest-gray;
      box-sizing: padding-box;
      & > a{
        padding: 7px 20px 3px;
      }
      a, strong{
        font-size: 12px;
        font-size: 1.2rem;
      }
      :hover{
        background-color: $eq-white;
      }
    }
  }
}
#eq-main-navbar .navbar-nav > li > a {
  padding-bottom: 10px;
  color: $eq-dark-gray;
}
#eq-main-navbar {
  margin: 0;
  > navbar-right{
      margin: 0;
  }
  li {
    a {
      font-size: 12px;
      padding: 10px;
      @include large {
        font-size: 16px;
        padding: 14px 15px 10px;      }
    }
    &.panel{
        border-radius: 0;
        border: none;
    }
  }
  @include large {
    margin-top: 13px;
  }
  .nav li.open > a,
  .nav li.open:hover > a,
  .nav li.open:focus > a {
    background: transparent;
  }
  li.eq-dropdown{
    font-size: 16px;
    margin-bottom: 0;
    box-shadow: none;
  }
  li.eq-dropdown:active, li.eq-dropdown:hover{
    border-bottom: 3px solid $eq-red;
  }
}
#eq-logo-full {
  height: 50px;
}
#eq-logo-sm {
  width: 36px;
}
h5#eq-logo-text {
  display: none;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  small{
    color: $eq-mid-gray;
    font-size: 10px;
    line-height: 10px;
  }
  @include medium {
    display: block;
  }
}
.minimal {
  h5#eq-logo-text {
    display: none;
  }
}
.logo-hide{
  display: none;
}
#eq-main-navbar .navbar-nav .eq-dropdown:active a, #eq-main-navbar .navbar-nav  .eq-dropdown:hover a{
  padding-bottom: 7px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background: $eq-white;
}
.EQ-main-nav-dropdown{
  border: 1px solid $eq-gray;
  h4{
      margin: 0;
      padding: 0 0 20px;
      @include medium{
        padding: 0 0 20px 10px;
      }
  }
  .container{
    display: none;
    > .row{
        // for smoother slidetoggle of menu
        margin: 0;
        .eq-sub-nav > .row{
            // for smoother slidetoggle of menu
            margin: 0;
        }
    }
  }
  &.dropdown-menu{
    width: 100%;
    background-color: $eq-lightest-gray;
    border-radius: 0;
    padding: 0;
    margin: 0;
    > .container{
        padding: 25px 0;
    }
    ul{
      margin-top: 10px;
      margin-left: 0;
    }
    ul li{
      list-style-type: none;
      line-height: 32px;
      a{
        color: $eq-dark-gray;
        font-weight: bold;
        padding: 10px 5px 5px;
        width: inherit;
        font-size: 14px;
        font-size: 1.4rem;
        display: inline-block;
        line-height: 1.3;
        @include medium{
            padding: 10px 10px 5px;
            font-size: 16px;
            font-size: 1.6rem;
        }
      }
      a:hover{
        color: $eq-red;
        text-decoration: none;
        background-color: $eq-gray;
        border-radius: 3px;
      }
    }
  }
  .container.active{
    display: block;
  }
  .dropdown-container{
    width: 100%;
  }
}
.featured-menu-link {
  background: $eq-white;
  padding: 10px;
  h4{
      padding: 0 0 20px 0;
  }
  p{
      margin: 0;
      padding: 0 0 20px 0;
  }
}
.dropdown-container .eq-sub-nav div[class*="col-"]:not(:last-child) {
  border-right: 1px solid $eq-chrome;
}
.dropdown-container {
  .eq-sub-nav {
    padding: 0;
    ul {
      margin: 0;
      padding: 0 20px 0 20px;
    }
    div[class*="col-"]{
        padding: 0;
    }
    div[class*="col-"]:first-of-type ul{
        padding: 0 20px 0 0;
    }
  }
}

/* Header Styles End --------------------------> */
