  /* Mobile Navbar Begin --------------------------> */


  @media screen and (max-width: 990px){
    #eq-utility-navbar {
        li.dropdown{
            &.open i, &.open span{
                color: $eq-red;
            }
        }
    }
    /* Safari 5+ (10.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0){
        ::i-block-chrome, #eq-main-header .navbar-header{
            float: left;
        }
    }
}
@media screen and (max-width: 767px) {
  $eq-mobile-nav-li-padding-top: 15px;
  $eq-mobile-nav-li-padding-bot: 11px;
    #eq-main-header {
      min-height: 105px;
      .navbar-header{
        display: inline-block;
        width: 30%;
      }
      button.navbar-toggle, button.navbar-toggle.collapsed{
        width: auto;
        text-align: center;
        top: 50px !important;
        border-radius: $eq-border-radius;
        span.fa {
          margin-left: 5px;
        }
      }
      .navbar-nav{
        margin-bottom: 0px;
        padding-bottom: 0px;
        .dropdown-container {
          display: none;
        }
        li.eq-dropdown{
          margin: 0;
          padding: 0;
          border-top: 1px solid #ccc;
          a.dropdown-toggle{
            transition: background .2s ease-in-out;
          }
          .featured-menu-link{
            ul{
              padding-left: 20px;
            }
            a{
            padding: 6px 0;
            }
            h3{
                margin-top: 5px;
            }
          }
          a {
            padding: $eq-mobile-nav-li-padding-top 19px $eq-mobile-nav-li-padding-bot;
            font-family: $font-stack-proxima-nova-bold;
            font-size: 17px;
          }
          &:hover, &:active {
            margin: 0;
            a {
              padding-bottom: $eq-mobile-nav-li-padding-bot;
            }
          }
          .EQ-mobile-main-nav-dropdown {
            margin: 0;
            padding: 0;
            ul.list-group {
              margin-bottom: 0px;
              li.list-group-item {
                border-radius: 0px !important;
                padding: $eq-mobile-nav-li-padding-top 0 $eq-mobile-nav-li-padding-bot;
                border-left: none;
                border-right: none;
                background: $gray-lighter;
                padding: 0;
                a {
                  color: $gray-darker;
                  display: block;
                  width: 100%;
                  font-family: $font-stack-proxima-nova;
                }
              }
            }
            .featured-li{
              padding: 15px;
              background: $gray-lighter;
            }
          }
          .EQ-mobile-main-nav-dropdown ul.list-group li.list-group-item{
            background-color: $gray-lighter !important;
          }
          &:hover{
            border-bottom: none;
          }
        }
        li.eq-dropdown.collapsed a.dropdown-toggle{
            background: $eq-lightest-gray;
            transition: all .3s ease-in-out;
            color: $eq-dark-gray;
        }
        li.eq-dropdown a.dropdown-toggle {
          background: $eq-red;
          transition: all .3s ease-in-out;
          color: $eq-white;
        }
        li.eq-dropdown a.mobilemenu-contact {
          background: $eq-gray;
        }
      }
      .navbar-collapse {
          box-shadow: none;
          -webkit-box-shadow: none;
      }
      #eq-utility-navbar {
        float: right;
        padding: 0;
        i {
          color: $gray-darker;
        }
        .caret {
          color: $gray;
        }
        li.dropdown {
          display: inline-block;
          border: none;
          margin: 0;
          float: left;
          text-align: right;
          position: static;
          &.open i, &.open span{
              color: $eq-red;
          }
          .navbar-form {
            margin: 0;
            padding: 15px 20px;
          }
          .dropdown-menu{
            position: absolute;
            top: 105px;
            left: 0;
            width: 100vw;
            width: 100%;
            background-color:  $gray-lighter !important;
            border-radius: 0px;
            border: 1px solid $eq-white;
            border-top: 0;
            box-shadow: rgba(0,0,0,.25) 1px 3px 2px 0;
            padding: 0;
            li {
              display: block;
              padding: 10px;
              a{
                padding: 6px 10px 2px;
                font-size: 17px;
              }
              &:hover{
                background-color: $eq-white
              }
            }
          }
        }

        #eq-lang-select {
          li {
            padding: 10px;
            border-bottom: 1px solid $eq-white;
            &:hover{
              background-color: $eq-white;
            }
            &:last-child {
              border-bottom: none;
            }
            a {
              padding: 6px 10px 2px;
              font-size: 17px;
            }
          }
        }
        .navbar-form {
          box-shadow: none;
          input {
            height: 48px;
            line-height: 48px;
            font-size: 20px;
          }
        }
      }
      .navbar-toggle.collapsed, .navbar-toggle {
        top: 40px !important;
        position: absolute;
        right: 15px;
        margin-right: 0;
        border: none;
        border-radius: 8px;
        padding: 0 10px;
        width: 110px;
        font-family: $font-stack-proxima-nova-bold;
        line-height: 30px;
        transition: background-color .2s ease-in-out;
        span.fa {
          font-size: 26px;
          position: relative;
          top: 3px;
          margin-left: 7px;
        }
      }
      .navbar-toggle.collapsed {
        background-color: #dfdede;
        color: $gray-darker;
      }
      .navbar-toggle {
        background-color: $gray-darker;
        color: $eq-white;
      }
      #eq-main-navbar{
          padding: 0;
          margin-left: -15px;
          margin-right: -15px;
        .navbar-nav {
          margin-top: 40px;
          margin-left: 0;
          margin-right: 0;
        }
        .featured-menu-link{
            ul{
             list-style-type: none;
           }
           h4, p, a{
               margin: 0;
               padding: 5px 0 5px 0;
           }

        }
      }
    }
  /* Mobile Navbar End --------------------------> */
}
