/* Begin Sidebar Styles ----------------------------------*/

#filterMenu{
    ul{
        padding-left: 0;
        margin-left: 0;
    }
}

.eq-sidebar{
    h2{
        margin-top: 0;
    }
}

/* End Sidebar Styles ----------------------------------*/
