// Bootstrap Variables to be extended by BS SASS file, Equinix style, colors, etc. should be placed in this
@import "./wcm/assets/scss/variables";
@import "./wcm/assets/scss/mixins";

/* START: Style Guide CSS *****************************************************/
$eq-styleguide-container: 1284px;

#eq-main-header {
    .header-wrapper {
        text-align: center;
    }
    #eq-main-navbar {
        .navbar-nav a {
            color: $eq-black !important;
            padding: 10px;
            font-size: 85%;
            @include medium {
                padding: 15px;
                font-size: 100%;
            }
        }
    }
    .navbar-toggle {
        background: $eq-chrome;
        width: 44px;
        height: 44px;
        padding: 0;
        font-size: 24px;
        line-height: 0;
    }
}
body.style-guide-container main.container {
    background-color: $eq-white;
    padding: 30px;
}
body.style-guide-container {
    background-color: $eq-lightest-gray;
    .style-guide-list {
        margin-left: -40px;
        li {
            border-bottom: 1px solid #ccc;
            padding: 15px 0 5px;
            font-weight: 300;
            font-size: 20px;
            line-height: 28px;
            color: $gray-lighter;
            a {
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                &:active,
                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid $brand-primary;
                }
            }
        }
    }
    .container {
        max-width: 1284px;
        @include large {
            width: 100%;
        }
    }
    .typography-section-container {
        background-color: $eq-light-gray;
        padding: 20px;
        margin: 20px;
    }
}
// Style Guide links
#styleGuideLinks {
    margin-left: -40px !important;
    li {
        display: inline;
        a {
            margin-right: 8px;
            padding-right: 8px;
            border-right: 1px solid #ddd;
        }
        &:last-child a {
            border-right: none;
        }
    }
}
.col-sm-2 > #styleGuideLinks,
.col-sm-3 > #styleGuideLinks,
.col-sm-4 > #styleGuideLinks {
    li {
        display: block;
        a {
            border: none;
        }
    }
}
// Page Header Anchor Links
.page-header {
    position: relative;
    .anchor {
        font-size: 90%;
        line-height: 1.2;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding-right: 10px;
        padding-left: 30px;
        margin-left: -30px;
        display: none;
        color: $eq-black;
    }
    &:hover .anchor {
        display: inline-block;
        padding-left: 8px;
        margin-left: -30px;
        text-decoration: none;
    }
}
.style-guide-section {
    margin-bottom: 60px;
    .code {
        height: auto;
        width: 100%;
        font-family: monospace;
        font-size: 14px;
        background: $gray-base;
        color: $brand-success;
    }
    h3 {
        margin-top: 30px;
    }
    p {
        margin-bottom: 10px;
    }
    .panel-title {
        margin: 5px 0 0;
    }
}
.style-guide-tabs.nav-tabs li.active > a,
.style-guide-tabs.nav-tabs li.active > a:focus,
.style-guide-tabs.nav-tabs li.active > a:hover,
.style-guide-tabs.nav-tabs li:focus > a,
.style-guide-tabs.nav-tabs li:hover > a {
    margin-bottom: 0 !important;
}
.typography-section-container .row {
    margin-top: 0;
    margin-bottom: 30px;
    float: none;
    figure {
        height: 40%;
        width: 70%;
        padding: 50px;
        margin: 0 0 10px;
        &#red-panel {
            background-color: $eq-red;
        }
        &#black-panel {
            background-color: $eq-black;
        }
        &#white-panel {
            background-color: $eq-white;
        }
        &#carbon-panel {
            background-color: $eq-carbon;
        }
        &#platinum-panel {
            background-color: $eq-platinum;
        }
        &#chrome-panel {
            background-color: $eq-chrome;
        }
        &#lightgreen-panel {
            background-color: $eq-light-green;
        }
        &#green-panel {
            background-color: $eq-green;
        }
        &#darkblue-panel {
            background-color: $eq-dark-blue;
        }
        &#lightblue-panel {
            background-color: $eq-light-blue;
        }
        &#orange-panel {
            background-color: $eq-orange;
        }
    }
}

.syntaxhighlighter {
    // font-size: 13px !important;
    padding: 0 0 5px;
}
/* END: Style Guide CSS *******************************************************/
