/* Begin Secondary Nav Styles ----------------------------------*/

.eq-secondary-nav {
  .btn {
    margin-bottom: 10px;
  }
  .eq-secondary-nav-links {
    @include small {
      border-bottom: 1px solid #000;
    }
    margin-bottom: 18px;
    ul {
      list-style-type: none;
      padding-left: 0;
      border: 1px solid #ddd;
      margin-left: 0 !important;
      @include small {
        border: none;
      }
      a {
        border-bottom: 1px solid #eee;
        color: #999999;
        display: block;
        padding: 5px 0 5px 15px;
        position: relative;
        &:hover,
        &.active {
          color: $eq-red;
          font-weight: 700;
          text-decoration: none;
        }
      }
      @include small {
        margin: 0 0 0 -15px;
        li {
          display: inline;
          a {
            border: none;
            display: inline-block;
            padding: 15px 0 10px 15px;
            &.active {
              &:before {
                content: "&#x25B2";
                text-indent: -9999px;
                position: absolute;
                font-size: 0;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #000;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

/* End Secondary Nav Styles ----------------------------------*/
