/* Begin Table Styles ----------------------------------*/

div.table-red {
  background-color: $eq-red;
  color: $eq-white;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 1.8rem;
  margin-bottom: 0 !important;
  padding: 15px 15px 10px 15px;
  border-top: none;
  border-left: 1px solid $eq-gray;
  border-right: 1px solid $eq-gray;
}

table{
    &.table-bordered {
        border-top: none;
        thead{
            color: $eq-white;
            font-weight: bold;
            background-color: $eq-black;
            th{
                border: none;
                border-width: 0;
                padding: 10px 8px 8px 10px;
            }
        }
    }
}

/* End Table Styles ----------------------------------*/
