/* Begin Carousel-Mini Styles ------------------------------------------------ */

.eq-carousel-mini.eq-carousel-mini-horizontal {
    max-width: 616px;
    .carousel-indicators {
        @include medium {
            margin-left: -40%;
        }
    }
}
.eq-carousel-mini {
    max-width: 250px;
    margin-bottom: 35px;
    .carousel-indicators {
        li {
            position: relative;
            vertical-align: top;
            background: 0 0;
            width: 11px;
            height: 11px;
            margin: 1px 5px;
            border: 1px solid #ed1c24;
            border-radius: 50%;
            box-shadow: none;
        }
        li.active,
        li:hover {
            position: relative;
            background-color: $eq-red;
        }
    }
    .carousel-inner {
        width: 100%; // may not be needed
        // max-width: 400px !important; // may not be needed
        img {
            max-height: 250px;
            max-width: 250px;
        }
        .bottom {
            bottom: 3px;
        }
        .top {
            top: 3px;
            bottom: inherit;
        }
        .white {
            color: $eq-white;
            background-color: rgba(0,0,0,.7);
            * {
                color: $eq-white;
            }
        }
    }
    .carousel-indicators {
        bottom: -40px;
    }
}
.eq-carousel-mini.eq-carousel-mini-style2 {
    max-width: 100%;
    .carousel-indicators {
        bottom: 0;
        li {
            background: transparent;
            border-color: $eq-white;
            border-width: 3px;
            height: 14px;
            width: 14px;
            &.active, &:hover {
                background: $eq-white;
            }
        }
    }
    .carousel-inner {
        max-width: 100%;
        & > .item {
            height: 350px;
            border-radius: 7px;
        }
        $eq-bg-blue: rgb(0, 128, 192);
        $eq-bg-gray: rgb(100, 100, 100);
        $eq-bg-orange: rgb(245, 130, 31);
        $eq-bg-purple: rgb(113, 112, 179);

        .item.eq-bg-gray {
            background-color: $eq-bg-gray;
        }
        .item.eq-bg-blue {
            background-color: $eq-bg-blue;
        }
        .item.eq-bg-orange {
            background-color: $eq-bg-orange;
        }
        .item.eq-bg-purple {
            background-color: $eq-bg-purple;
        }
        img {
            margin: 0 auto 20px;
        }
        .carousel-caption {
            max-width: 100%;
            background: transparent;
            text-align: center;
            text-shadow: none;
            padding-top: 20px;
            padding-bottom: 30px;
            bottom: 60px;
            left: 20%;
            right: 20%;
            vertical-align: middle;
            &.white {
                a {
                    color: $eq-white;
                }
            }
            h2 {
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 20px;
            }
            i.fa {
                font-size: 10px;
            }
        }
        .carousel-control {
            background-image: none;
            top: auto;
            height: 45px;
            color: rgba(255,255,255,.9);
            text-shadow: none;
            .glyphicon-chevron-left,
            .glyphicon-chevron-right,
            .icon-next,
            .icon-prev {
                margin-top: -19px;
            }
        }
        .eq-divider-line {
            background-color: rgba(255,255,255,.45);
            position: absolute;
            bottom: 50px;
            width: 100%;
            height: 1px;
        }
    }
}
/* End Carousel-Mini Styles ------------------------------------------------ */
