<!-- External js libs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Internal js libs -->
<script src="../../dist/js/scripts.min.js"></script>
<script src="../../../styleguide/assets/js/dynamic-menu.js"></script>
