<!-- Main Menu -->
<nav id="eq-main-header" class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/styleguide/">
                <div class="header-wrapper">
                    <img src="../../dist/images/logo.png" id="eq-logo-full" alt="Equinix logo" title="Equinix logo" />
                    <h5 id="eq-logo-text"><small class="text-uppercase">Where Opportunity Connects</small></h5>
                    <img src="../../dist/images/skinny-logo.png" id="eq-logo-sm" class="logo-hide" alt="Equinix logo" title="Equinix logo" />
                </div>
            </a>
        </div>
        <div class="navbar-collapse" id="eq-utility-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">&nbsp;</li>
            </ul>
        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eq-main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span><span class="fa fa-bars"></span>
        </button>

        <!-- Main Navigation Begin -->
        <div class="collapse navbar-collapse" id="eq-main-navbar">
            <ul class="nav navbar-nav navbar-right" style="display: block;">
                <li><a href="../../../styleguide/html">HTML</a></li>
                <li><a href="../../../styleguide/typography">Typography</a></li>
                <li><a href="../../../wcm/ui-components/">UI Components</a></li>
                <li><a href="../../../styleguide/page-templates">Page Templates</a></li>
                <li><a href="../../../styleguide/theme">Theme</a></li>
                <li><a href="../../../styleguide/tone">Tone of Voice</a></li>
            </ul>
        </div>
        <!-- Main Navigation End -->

    </div>
    <!-- /.container-fluid -->
</nav>
<!-- end main menu -->
