/* Begin FML Styles ----------------------------------*/

div.col-sm-4.featured-menu-link{
        background-color: $eq-white;
        padding: 15px 20px 10px 20px;
        ul{
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            li{
                line-height: 1.2;
            }
            a{
                color: $eq-black;
                font-weight: normal;
                padding: 10px 10px 5px 0;
                &:hover{
                    color: $eq-red;
                    text-decoration: none;
                    background-color: transparent;
                }
            }
        }
    }
/* End FML Styles ----------------------------------*/
