/* Begin Form Styles ------------------------------------------------ */

$input-height: 32px;
.form-wrapper form {
    border: 1px solid #ddd;
    border-radius: $eq-border-radius;
    padding: 20px;
    p {
        font-size: 14px;
    }
    input {
        margin: 0 0 20px;
        padding: 5px 5px 0;
        width: 100%;
        &::placeholder {
            font-size: 16px;
        }
        &[type="submit"] {
            background-color: $eq-red;
            border: none;
            color: white;
            font-weight: bold;
            border-radius: $eq-border-radius;
            padding: 8px 0 3px;
        }
    }
    .form-control {
        border-radius: $eq-border-radius;
    }
}

.marketoFormClasses .mktoForm .mktoHasWidth {
    // width: 100%;
}
.form-wrapper form,
.mktoForm {
    margin: 0;
    border: 1px solid #ddd;
    border-radius: $eq-border-radius;
    padding: 20px;
    .mktoAsterix {
        display: none !important;
    }
    .mktoFormRow {
        .mktoFormCol {
            height: inherit;
            // width: 100%;
            margin: 0;
            padding: 0;
            .mktoOffset {
                display: none !important;
            }
        }
        .mktoFieldWrap {
            float: none;
            .mktoGutter {
                display: none !important;
            }
        }
    }
    input,
    select,
    input.mktoField .mktoTextField .mktoHasWidth {
        height: $input-height;
        width: 100% !important;
    }
    textarea.mktoHasWidth {
        width: 100% !important;
    }
    select[multiple=multiple] {
        height: 86px;
        width: 100%;
    }
    input,
    input[type=date],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=text],
    input[type=url],
    input.mktoField,
    select,
    select.mktoField,
    textarea,
    textarea.mktoField,
    input::-webkit-input-placeholder,
    input:-moz-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder {
        border-radius: 0;
        padding: 3px 6px !important;
        line-height: 32px !important;
        font-size: 1em;
    }
    .mktoButtonRow {
        margin: 0;
        padding: 0;
        display: block;
        .mktoButtonWrap {
            margin: 0 !important;
            padding: 0;
            button.mktoButton {
                background: #ff0000;
                border: none;
                font-size: 12pt;
                font-family: $font-family-sans-serif !important;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 12px 50px 6px;
                color: white;
                border-radius: $eq-border-radius;
                font-weight: bold;
                margin-top: 15px !important;
                margin-left: 0px;
                width: 100%;
                max-width: 300px;
            }
        }
    }
    .formCopy {
        margin-left: 0 !important;
        font-size: 12px;
        line-height: 16px;
        padding-top: 10px;
    }
}

/* End Form Styles ------------------------------------------------ */
