/* Begin Button Styles ----------------------------------*/

.btn {
  font-family: $font-stack-proxima-nova-bold;
  padding: 15px 15px 8px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  vertical-align: middle;
  font-weight: bold;
  display: inline-block;
  transition: all .3s ease-in-out;
  white-space: normal;
  @include mobile{
      display: block;
      font-size: 1.4rem;
  }
}

.btn + .btn {
    margin-left: 15px;
  }

.btn-default,
.btn-default:hover,
.btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  -webkit-border-radius: $eq-border-radius;
  -moz-border-radius: $eq-border-radius;
  -ms-border-radius: $eq-border-radius;
  -o-border-radius: $eq-border-radius;
  border-radius: $eq-border-radius;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(102, 102, 102, 0.5);
  -moz-box-shadow: 2px 2px 0px 0px rgba(102, 102, 102, 0.5);
  box-shadow: 2px 2px 0px 0px rgba(102, 102, 102, 0.5);
  clear: both;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 1.6rem;
  /* padding: 18px 30px; */
  padding: 10px 15px 5px 15px;
  //behavior: url(/Global/CSS/PIE.htc);
  position: relative;
  text-transform: uppercase;
  background-color: $eq-red;
  color: $eq-white;
  border-color: $eq-red;
  //behavior: url(/Global/CSS/PIE.htc);
}

.btn-clear {
  background-color: transparent;
  border: 3px solid $eq-mid-gray;
  padding: 10px 25px 5px 25px;
  color: $eq-mid-gray;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.btn-clear:hover {
  border-color: $eq-red;
  color: $eq-red;
}

.btn.btn-block{
    padding: 10px 0 5px 0;
}

/* End Button Styles ----------------------------------*/
