// from _navbar.scss ---------------------------------------------------------
.navbar {
  border-radius: 0px;
}
.navbar-inverse {
  background: $eq-black;
}


// from _content.scss ---------------------------------------------------------
html body{
    color: $eq-dark-gray;
}

main{
  padding: 20px 15px;
  .banner {
    margin-bottom: 40px;
  }
  .container.template{
    max-width: 100%;
  }
  ul{
    list-style-type: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $eq-lightest-gray;
}

hr{
  border-top: 1px solid $eq-gray;
}

div.media-left, div.media-body{
  @include xsmall {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
  }
}

div.well{
    background-color: $eq-light-gray !important;
    border-radius: $eq-border-radius;
}

.eq-well{
  background-color: $eq-light-gray;
  border: 0 none;
  box-shadow: none;
  padding: 20px;
  border-radius: $eq-border-radius;
}

.eq-clear-well{
    border: 1px solid $eq-chrome;
    border-radius: $eq-border-radius;
    background: transparent;
    padding: 20px;
}

// from _layout.scss ---------------------------------------------------------
main.container {
  max-width: 980px;
}

.home {
  main.container {
    max-width: 1170px;
  }
}
