/************
 * Begin Icon Fonts ------------------------------------------------------------
 ************/

/************
 * FILE-EMPTY ------------------------------------------------------------------
 ************/
@font-face {
  font-family: 'icomoon_file-empty';
  src: url("../fonts/icomoon_file-empty/icomoon.eot?-mh33nh");
  src: url("../fonts/icomoon_file-empty/icomoon.eot?#iefix-mh33nh") format("embedded-opentype"), url("../fonts/icomoon_file-empty/icomoon.woff?-mh33nh") format("woff"), url("../fonts/icomoon_file-empty/icomoon.ttf?-mh33nh") format("truetype"), url("../fonts/icomoon_file-empty/icomoon.svg?-mh33nh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="EQ-File-Empty"],
[class*="eq-file-empty"] {
  font-family: 'icomoon_file-empty';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EQ-File-Empty:before,
.eq-file-empty:before {
  content: "\e600";
}

/***********
 * NEWSPAPER -------------------------------------------------------------------
 ***********/
@font-face {
  font-family: 'icomoon_newspaper';
  src: url("../fonts/icomoon_newspaper/icomoon.eot?-cbzkg5");
  src: url("../fonts/icomoon_newspaper/icomoon.eot?#iefix-cbzkg5") format("embedded-opentype"), url("../fonts/icomoon_newspaper/icomoon.woff?-cbzkg5") format("woff"), url("../fonts/icomoon_newspaper/icomoon.ttf?-cbzkg5") format("truetype"), url("../fonts/icomoon_newspaper/icomoon.svg?-cbzkg5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="EQ-Newspaper"],
[class*="eq-newspaper"] {
  font-family: 'icomoon_newspaper';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EQ-Newspaper:before,
.eq-newspaper:before {
  content: "\e600";
}

/*************
 * EQ-Fortress -----------------------------------------------------------------
 *************/
@font-face {
  font-family: 'icomoon_eq-fortress';
  src: url("../fonts/icomoon_eq-fortress/icomoon_eq-fortress.eot?j7uew6");
  src: url("../fonts/icomoon_eq-fortress/icomoon_eq-fortress.eot?#iefixj7uew6") format("embedded-opentype"), url("../fonts/icomoon_eq-fortress/icomoon_eq-fortress.ttf?j7uew6") format("truetype"), url("../fonts/icomoon_eq-fortress/icomoon_eq-fortress.woff?j7uew6") format("woff"), url("../fonts/icomoon_eq-fortress/icomoon_eq-fortress.svg?j7uew6#icomoon_eq-fortress") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="EQ-Fortress"],
[class*="eq-fortress"] {
  font-family: 'icomoon_eq-fortress';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EQ-Fortress:before,
.eq-fortress:before {
  content: "\e600";
}
/****************
 * EQ-Icons-Set-1 (updated v4)--------------------------------------------------
 ****************/
 @font-face {
     font-family: "EQ-Icons-Set-1";
     font-style: normal;
     font-weight: normal;
     src: url("../fonts/icomoon_eq-icons-set-1_v4/EQ-Icons-Set-1.eot?#iefix-hapq4f") format("embedded-opentype"),
     url("../fonts/icomoon_eq-icons-set-1_v4/EQ-Icons-Set-1.ttf?-hapq4f") format("truetype"), url("../fonts/icomoon_eq-icons-set-1_v4/EQ-Icons-Set-1.woff?-hapq4f") format("woff"), url("../fonts/icomoon_eq-icons-set-1_v4/EQ-Icons-Set-1.svg?-hapq4f#icomoon") format("svg");
 }


main span[class*="EQ-"]:empty,
main span[class*="eq-"]:empty {
    font-size: 36px; /* fallback */
    font-size: 3.6rem;
}

main [class^="EQ-"]:empty,
main [class^="eq-"]:empty,
main [class*=" EQ-"]:empty,
main [class*=" eq-"]:empty,
aside.eq-rcm [class^="EQ-"]:empty,
aside.eq-rcm [class^="eq-"]:empty,
aside.eq-rcm [class*=" EQ-"]:empty,
aside.eq-rcm [class*=" eq-"]:empty {
  font-family: 'EQ-Icons-Set-1';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EQ-Circle-World:before,
.eq-circle-world:before {
  content: "\e600";
}

.EQ-Circle-Pindrop:before,
.eq-circle-pindrop:before {
  content: "\e601";
}

.EQ-Circle-Enterprise:before,
.eq-circle-enterprise:before {
  content: "\e602";
}

.EQ-Circle-Cloud:before,
.eq-circle-cloud:before {
  content: "\e603";
}

.EQ-Circle-Network:before,
.eq-circle-network:before {
  content: "\e604";
}

.EQ-Circle-Green:before,
.eq-circle-green:before {
  content: "\e605";
}

.EQ-Circle-Performance:before,
.eq-circle-performance:before {
  content: "\e606";
}

.EQ-Circle-Revenue:before,
.eq-circle-revenue:before {
  content: "\e607";
}

.EQ-Circle-Locations:before,
.eq-circle-locations:before {
  content: "\e608";
}

.EQ-Circle-Choices:before,
.eq-circle-choices:before {
  content: "\e609";
}

.EQ-Circle-Expertise:before,
.eq-circle-expertise:before {
  content: "\e60a";
}

.EQ-Circle-Uptime:before,
.eq-circle-uptime:before {
  content: "\e60b";
}

.EQ-Circle-Piggy:before,
.eq-circle-piggy:before {
  content: "\e60c";
}

.EQ-Consultants:before,
.eq-consultants:before {
  content: "\e60d";
}

.EQ-Business-Continuity:before,
.eq-business-continuity:before {
  content: "\e60e";
}

.EQ-Cloud-Exchange:before,
.eq-cloud-exchange:before {
  content: "\e60f";
}

.EQ-Asset-Video:before,
.eq-asset-video:before {
  content: "\e610";
}

.EQ-Asset-Webinar:before,
.eq-asset-webinar:before {
  content: "\e611";
}

.EQ-Asset-Whitepaper:before,
.eq-asset-whitepaper:before {
  content: "\e612";
}

.EQ-Asset-Brochure:before,
.eq-asset-brochure:before {
  content: "\e613";
}

.EQ-Asset-Report:before,
.eq-asset-report:before {
  content: "\e614";
}

.EQ-Asset-Datasheet:before,
.eq-asset-datasheet:before {
  content: "\e615";
}

.EQ-Asset-Presentation:before,
.eq-asset-presentation:before {
  content: "\e616";
}

.EQ-Asset-Infographic:before,
.eq-asset-infographic:before {
  content: "\e617";
}

.EQ-Performance:before,
.eq-performance:before {
  content: "\e618";
}

.EQ-Virtual-Desktop:before,
.eq-virtual-desktop:before {
  content: "\e619";
}

.EQ-Storage:before,
.eq-storage:before {
  content: "\e61a";
}

.EQ-Video:before,
.eq-video:before {
  content: "\e61b";
}

.EQ-Connected-Customers:before,
.eq-connected-customers:before {
  content: "\e61c";
}

.EQ-Networks:before,
.eq-networks:before {
  content: "\e61d";
}

.EQ-Health:before,
.eq-health:before {
  content: "\e61e";
}

.EQ-Cloud:before,
.eq-cloud:before {
  content: "\e61f";
}

.EQ-eCommerce:before,
.eq-ecommerce:before {
  content: "\e620";
}

.EQ-Advertising:before,
.eq-advertising:before {
  content: "\e621";
}

.EQ-Apps:before,
.eq-apps:before {
  content: "\e622";
}

.EQ-Entertainment:before,
.eq-entertainment:before {
  content: "\e623";
}

.EQ-Gaming:before,
.eq-gaming:before {
  content: "\e624";
}

.EQ-Mobile:before,
.eq-mobile:before {
  content: "\e625";
}

.EQ-Green:before,
.eq-green:before {
  content: "\e626";
}

.EQ-Insurance:before,
.eq-insurance:before {
  content: "\e627";
}

.EQ-Social:before,
.eq-social:before {
  content: "\e628";
}

.EQ-Web:before,
.eq-web:before {
  content: "\e629";
}

.EQ-Messaging:before,
.eq-messaging:before {
  content: "\e62a";
}

.EQ-Music:before,
.eq-music:before {
  content: "\e62b";
}

.EQ-Images:before,
.eq-images:before {
  content: "\e62c";
}

.EQ-Folder:before,
.eq-folder:before {
  content: "\e62d";
}

.EQ-Vault:before,
.eq-vault:before {
  content: "\e62e";
}

.EQ-Currency:before,
.eq-currency:before {
  content: "\e62f";
}

.EQ-Revenue:before,
.eq-revenue:before {
  content: "\e630";
}

.EQ-Wifi:before,
.eq-wifi:before {
  content: "\e631";
}

.EQ-Approval:before,
.eq-approval:before {
  content: "\e632";
}

.EQ-Link:before,
.eq-link:before {
  content: "\e633";
}

.EQ-Idea:before,
.eq-idea:before {
  content: "\e634";
}

.EQ-Thumbs:before,
.eq-thumbs:before {
  content: "\e635";
}

.EQ-Savings:before,
.eq-savings:before {
  content: "\e636";
}

.EQ-Partnership:before,
.eq-partnership:before {
  content: "\e637";
}

.EQ-Customer:before,
.eq-customer:before {
  content: "\e638";
}

.EQ-Locations:before,
.eq-locations:before {
  content: "\e639";
}

.EQ-Platform:before,
.eq-platform:before {
  content: "\e63a";
}

.EQ-Datacenter:before,
.eq-datacenter:before {
  content: "\e63b";
}

.EQ-Cage:before,
.eq-cage:before {
  content: "\e63c";
}

.EQ-Metro:before,
.eq-metro:before {
  content: "\e63d";
}

.EQ-Cloud-Provider:before,
.eq-cloud-provider:before {
  content: "\e63e";
}

.EQ-IT-Provider:before,
.eq-it-provider:before {
  content: "\e63f";
}

.EQ-Integrator:before,
.eq-integrator:before {
  content: "\e640";
}

.EQ-Uptime:before,
.eq-uptime:before {
  content: "\e641";
}

.EQ-Security:before,
.eq-security:before {
  content: "\e642";
}

.EQ-Electrical:before,
.eq-electrical:before {
  content: "\e643";
}

.EQ-Cooling:before,
.eq-cooling:before {
  content: "\e644";
}

.EQ-Temperature:before,
.eq-temperature:before {
  content: "\e645";
}

.EQ-Power:before,
.eq-power:before {
  content: "\e646";
}

.EQ-Tools:before,
.eq-tools:before {
  content: "\e647";
}

.EQ-Gears:before,
.eq-gears:before {
  content: "\e648";
}

.EQ-Connected-Metro:before,
.eq-connected-metro:before {
  content: "\e649";
}

.EQ-Connected-Traffic:before,
.eq-connected-traffic:before {
  content: "\e64a";
}

.EQ-Connected-Ethernet:before,
.eq-connected-ethernet:before {
  content: "\e64b";
}

.EQ-Connected-Link:before,
.eq-connected-link:before {
  content: "\e64c";
}

.EQ-Connected-Partners:before,
.eq-connected-partners:before {
  content: "\e64d";
}

.EQ-Circle-Content:before,
.eq-circle-content:before {
  content: "\e64e";
}

.EQ-Circle-Financial:before,
.eq-circle-financial:before {
  content: "\e64f";
}

.EQ-Asset-VR:before,
.eq-asset-vr:before {
  content: "\e650";
}

.EQ-Asset-Event:before,
.eq-asset-event:before {
  content: "\e651";
}

.EQ-Asset-Ebook:before,
.eq-asset-ebook:before {
  content: "\e652";
}

.EQ-Asset-Related:before,
.eq-asset-related:before {
  content: "\e653";
}

.EQ-Asset-Article:before,
.eq-asset-article:before {
  content: "\e654";
}

.EQ-Asset-Casestudy:before,
.eq-asset-casestudy:before {
  content: "\e655";
}

.EQ-Asset-PR:before,
.eq-asset-pr:before {
  content: "\e656";
}

.EQ-Asset-Blog:before,
.eq-asset-blog:before {
  content: "\e657";
}

.EQ-Asset-Survey:before,
.eq-asset-survey:before {
  content: "\e658";
}

/************
 * End Icon Fonts --------------------------------------------------------------
 ************/
