// Media Queries --------------------------------------------------------------
$screen-mobile: 480px;
$screen-xs: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Mobile devices (480px and down) */
@mixin mobile {
  @media (max-width: $screen-mobile) {
    @content;
  }
}

/* Smallest devices (768px and down) */
@mixin xsmall {
  @media (max-width: $screen-xs) {
    @content;
  }
}

/* Small devices (tablets, 768px and up) */
@mixin small {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

/* Medium devices (desktops, 992px and up) */
@mixin medium {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

/* Large devices (large desktops, 1200px and up) */
@mixin large {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}
