#getInTouchModal {
  .modal-dialog {
    width: 341px;
    .modal-header {
      background: $eq-carbon;
      color: $eq-white;
      .close {
        color: $eq-white;
        text-shadow: none;
      }
    }
  }
}
