/* Begin Resources page styles -----------------------------------------------------*/
.featuredAsset{
    .col-xs-2{
        display: inline-block;
        text-align: center;
        padding: 5px 15px 0 15px;
    }
    span.Icon{
        font-size: 9rem;
        @include xsmall{
            font-size: 5rem;
        }
        @include mobile{
            font-size: 3.6rem;
        }
        }
    .glyphicon{
        margin-left: 10px;
    }
}
#filterMenu{
    a.active{
        font-weight: bold;
        text-decoration: underline;
        color: $eq-black;
        position: relative;
        &:after{
            content:"";
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $eq-black;
            position: absolute;
            right: -10px;
            top: 4px;
        }
    }
}
.assetResource{
    margin: 20px 20px 20px 0;
    padding: 20px 0;
    line-height: 20px;
    @include small{
        height: 300px;
    }
    @include medium{
        height: 260px;
    }
    div:nth-child(2) p:first-child{
        text-transform: uppercase;
    }
    a:first-of-type{
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p:first-of-type{
        margin-bottom: 5px;
    }
}

.eq-resources-page{
    span.Icon{
        color: $eq-carbon;
    }
    span.glyphicon{
        font-size: 12px;
        font-size: 1.2rem;
        margin-left: 8px;
    }
}

.col-sm-6{
    &.assetResource{
        @include small{
            width: 48%;
        }
        @include xsmall{
            width: 100%;
            margin: 20px 0;
            height: auto;
            overflow: hidden;
        }
        &:nth-of-type(2n+1){
            margin-right: 0;
        }
    }
}
.resourceResults{
    position: relative;
    padding-top: 45px;
    select{
        border: 1px solid $eq-chrome;
        border-radius: $eq-border-radius;
        padding: 5px 5px 0 5px;
        option{
            padding: 5px 0 0 5px;
            border-left: 1px solid $eq-chrome;
            border-right: 1px solid $eq-chrome;
            &:last-of-type{
                border-bottom: 1px solid $eq-chrome;
            }
        }
    }
    label{
        font-weight: normal;
        margin-right: 5px;
    }
}
.sortBy {
  font-family: $font-stack-proxima-nova;
  font-size: 1.6rem;
  margin-bottom: 15px;
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  @include xsmall{
      position: relative;
      top: 10px;
      left: 15px;
  }
  select, select option{
      font-family: $font-stack-proxima-nova;
  }
  .select-style {
    background: #fff url("http://www.equinix.com/local/UTB/Global/Images/dropdown_arrow_upDown.png") no-repeat scroll 95% 50%;
    border: 1px solid #ccc;
    border-radius: $eq-border-radius;
    display: inline-block;
    margin: 0;
    padding: 0 23px 0 0;
    select {
      -moz-appearance: none;
      background-color: transparent;
      background-image: none;
      border: medium none;
      box-shadow: none;
      line-height: 25px;
      padding: 5px 0 0 5px;
      width: 175%;
      height: 30px;
    }
  }
}

.resourceSidebar .form-group{
    .fa.fa-search {
      background-color: transparent;
      border: medium none;
      font-size: 20px;
    }
    .input-group-addon{
        padding: 5px 12px;
    }
}
.input-group{
    input.form-control#search_input{
        padding: 5px 0 0 10px;
    }
}

.resultsPagination {
  padding-left: 15px;
  padding-right: 23px;
  font-size: 14px;
  font-size: 1.4rem;
  #paginationCustom{
      border-top: 1px solid $eq-chrome;
      padding: 10px 0 0 0;
  }
  .paginationOptions{
      display: inline;
      float: right;
      @include mobile{
          display: block;
          float: none;
      }
  }
  #showingResult{
      @include mobile{
          display: block;
          float: none;
      }
  }
}

.resultsPagination > div > div:first-child {
  display: inline;
  float: left;
}

.resultsPagination > div a.prev {
  margin-left: 0;
  margin-right: 10px;
}
.resultsPagination > div a.disabled {
  color: $eq-platinum;
}
.resultsPagination > div a {
  margin-left: 5px;
}

.resource-search{
    text-align: center;
    padding: 0 0 40px 0;
    border-bottom: 1px solid $eq-chrome;
    input{
        padding: 13px 15px 7px;
        height: auto;
        display: inline-block;
        width: 300px;
        margin: 0 5px 0 0;
        @include mobile{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    button{
        margin: 0 0 3px 0;
        @include mobile{
            display: block;
            width: 100%;
        }
    }
}

.resource-categories{
    ul{
        overflow: hidden;
        padding-left: 0;
        li{
            margin-top: 20px;
        }
        a, span{
            vertical-align: middle;
        }
    }

}

.resource-landing{
    margin: 0 0 40px 0;
    h4{
        margin-top: 20px;
    }
    span.Icon{
        @include large{
            font-size: 3.6rem;
            margin-right: 10px
        }
        margin-right: 5px;
        font-size: 2.4rem;
    }
}

.panel.eq-clear-well{
    padding: 10px 10px 0 10px;
    .image-wrapper{
        overflow: hidden;
        img{
            background-size: cover;
            background-position: center center;
            height: auto;
            width: 100%
        }
        @include small{
            height: 100px;
        }
        @include medium{
            height: 120px;
        }
        height: auto;
        max-height: 200px;
    }
    @include xsmall{
        width: 70%;
        margin: 0 auto 40px auto;
    }
    @include mobile{
        width: 100%;
    }
    a{
        overflow: hidden;
    }

}
/* End Resources page styles -----------------------------------------------------*/
