main.container-fluid.fluid-width-template {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    .promo-banner {
      padding: 40px 0 20px;
      h2 {
        text-transform: uppercase;
      }
    }
    .pane {
      padding: 30px 30px 60px;
      background-repeat: no-repeat;
      background-color: $eq-white;
    }
    .pane-blue {
      background-color: $eq-pale-blue;     // #d8e4f0
    }
    .pane-chrome {
      background-color: $eq-light-gray;    // #eeeeee
    }
    .pane-black {
      background-color: $eq-black;        // #000000
      color: white;
    }
}
