.panel.panel-footer-popup {
  box-shadow: none;
  border-radius: 0px;
  background: transparent;
  margin-bottom: 0;
  .panel-body {
    border: none;
    background: transparent;
    padding: 0;
  }
}
