
/* Begin Typography styles -----------------------------------------------------*/

/****************
 * Gobal Typography --------------------------------------------------
 ****************/

html{
  font-size: 10px; /* fallback */
  font-size: 62.5%;
}

body{
  font-size: $font-size-base;  /* fallback */
  font-size: 1.6rem;
  font-family: $font-family-sans-serif;
  color: $eq-black;
}

h1, h2, h3 {
    color: $eq-black;
  font-family: $font-stack-proxima-nova-bold;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.3;
}

h1 {
  font-size: $font-size-h1;
	line-height: 1.2em;
	margin: 0 0 40px 0;
  font-family: $font-stack-proxima-nova-extra-bold;
}
	h1 + .subhead { margin: -20px 0 60px; }

.section-container h1, h1{
  font-size: 36px;  /* fallback */
  font-size: 3.6rem;
}

.section-container h1.option2{
  color: $eq-platinum;
}

.section-container h1.option3{
  color: $eq-white;
}

h2 {
	margin-bottom: 40px;
    font-size: 26px;  /* fallback */
    font-size: 2.6rem;
}
h2 + .subhead { margin: -10px 0 60px; }

.col-sm-4.featured-menu-link > h4{
  font-size: 20px;  /* fallback */
  font: 2rem $font-stack-proxima-nova-bold;
  margin-top: 0;
}

h2.headline {
  color: $eq-black !important;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 32px; /* fallback */
  font-size: 3.2rem;
  line-height: 38px;
}

h2.banner {
  color: $eq-white;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 32px; /* fallback */
  font-size: 3.2rem;
  line-height: 38px;
}

h3, a h3 {
  line-height: 1.25em;
	margin-bottom: 10px;
  font-size: 20px; /* fallback */
  font-size: 2rem;
}

h4 {
  font-family: $font-stack-proxima-nova-bold;
	line-height: 1em;
	margin-bottom: 10px;
}

p {
  color: $eq-dark-gray;
	margin-bottom: 20px;
  font-size: 16px; /* fallback */
  font-size: 1.6rem;
}

@mixin intro-text {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.4em;
    margin: 0 0 30px;
    @include xsmall {
        margin: 15px 0;
    }
}
.intro,
.lead {
    @include intro-text;
    color: $eq-dark-gray;
}

.scene-selector-nav {
  color: $eq-mid-gray;
  font-family: $font-stack-proxima-nova-bold;
  font-size: 14px; /* fallback */
  font-size: 1.4rem;
  padding: 25px;
}
.scene-selector-nav:hover, .scene-selector-nav.active {
  color: $eq-red;
}

p.pullquote {
    color: #004b8d;
    font-size: 20px; /* fallback */
    font-size: 2rem;
    line-height: 1.4;
    position: relative;
    margin: 40px 0;
}

p.disclaimer{
    color: $eq-carbon;
}

p.pullquote::before, p.pullquote::after {
    position: absolute;
    font-size: 36px; /* fallback */
    font-size: 3.6rem;
    line-height: 28px;
}
p.pullquote::before {
    content: "\201C";
    top: 9px;
    margin-left: -15px;
}
p.pullquote::after {
    content: "\201D";
    margin-top: 8px;
}

small {
  font-family: $font-stack-proxima-nova;
}

a, a h1, a h2, a h3, a h4, a h5, a h6 { color: $eq-red; }
a:link, a:visited { text-decoration:none; }
a:hover, a:active, a:focus {
  text-decoration: underline;
  color: darken($eq-red, 5%);
}

/* Extend Bootstrap text colors with EQ brand colors */
.text-eq-red { color: $eq-red; }
.text-eq-light-green { color: $eq-light-green; }
.text-eq-green { color: $eq-green; }
.text-eq-blue { color: $eq-dark-blue; }
.text-eq-light-blue { color: $eq-light-blue; }
.text-eq-orange { color: $eq-orange; }
.text-eq-white, .fa.white { color: $eq-white; }
.fa.gray { color: $eq-platinum; }

/* Style guide typography --------------------------------------*/

ul.bulleted li:before {
  content: '\25A0';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -13px;
  color: $eq-mid-gray;
  font-size: 12px; /* fallback */
  font-size: 1.2rem;
  top: -3px;
}
div.row ul {
  /* list-style-type:    square; */
  list-style-type: none;
  margin-left: 18px;
  margin-top: 15px;
}

main ul li {
  margin-top: 10px;
  color: $gray-darker;
  font-family: $font-stack-proxima-nova;
  font-size: 16px; /* fallback */
  font-size: 1.6rem;
  line-height: 22px;
}

h3, p + p {
  margin-top: 20px;
}
/* End Typography styles -----------------------------------------------------*/
