
// Equinix Color Variables --------------------------------------------------

$eq-red:                #ed1c24;
$eq-black:              #000000;
$eq-white:              #ffffff;
$eq-carbon:             #707073;
$eq-platinum:           #A1A1A4;
$eq-chrome:             #c9c9cc;
$eq-dark-gray:          #333333;
$eq-mid-gray:           #999999;
$eq-gray:               #dddddd;
$eq-light-gray:         #eeeeee;
$eq-lightest-gray:      #f5f5f5;
$eq-light-green:        #a3cf62;
$eq-green:              #00a85f;
$eq-dark-blue:          #043776;
$eq-light-blue:         #53b7e8;
$eq-pale-blue:          #d8e4f0;
$eq-orange:             #f68c1f;
$eq-pullquote:          #004b8d;

// Bootstrap Color Variables --------------------------------------------------
$gray-base:              $eq-black;
$gray-darker:            $eq-dark-gray;
$gray-dark:              $eq-dark-gray;
$gray:                   $eq-mid-gray;
$gray-light:             $eq-chrome;
$gray-lighter:           $eq-light-gray;

$brand-primary:         $eq-red;
$brand-success:         $eq-green;
$brand-info:            $eq-light-blue;
$brand-warning:         $eq-orange;
$brand-danger:          $eq-red;

$link-color:            $eq-red;
$link-hover-color:      darken($link-color, 12%);

// Typography  ----------------------------------------------------------------
$font-family-sans-serif:  'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-base:          16px;

$font-size-h1:            floor(($font-size-base * 2.25));
$font-size-h2:            floor(($font-size-base * 1.625));
$font-size-h3:            ceil(($font-size-base * 1.25));
$font-size-h4:            $font-size-base;

$line-height-base:        1.375;

$headings-font-family:    'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-line-height:    1.625;
$headings-color:          $eq-black;

// Font Stack  ----------------------------------------------------------------
$font-stack-proxima-nova-light:       'Proxima Nova Light','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-proxima-nova:             'Proxima Nova','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-proxima-nova-bold:        'Proxima Nova Bold','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-proxima-nova-extra-bold:  'Proxima Nova Extra Bold','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-proxima-nova-black:       'Proxima Nova Black','Helvetica Neue', Helvetica, Arial, sans-serif;

// Other  ----------------------------------------------------------------
$eq-border-radius: 3px;
$eq-box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.3);
$eq-box-shadow-lg: 0 0px 20px 0 rgba(0,0,0,.3);
$eq-border-radius: 4px;
