/************ START - Feeds Component  *********/
.eq-feeds {
  padding-right: 10px;
  margin: 0px 0px 20px 0px !important;
  &.list-group {
      .list-group-item {
          border: none;
          padding:10px 0;
          margin-top: 0px;
      }
      .list-group-item-heading {
          font-size: $font-size-h4;
      }
      .list-group-item-text {
          font-size: $font-size-base - 2;
          color: $eq-mid-gray;
      }
  }
}
/************ END - Feeds Component  *********/
