.eq-captions-wrapper {
    position: relative;
    margin: 0 0 15px;
    max-width: 100%;
    height: auto;
    .caption {
        width: 100% !important;
        padding: 10px;
        text-align: left;
        background-color: rgba(255,255,255,.7);
        position: absolute;
        ul {
            margin-left: -18px;
        }
        p {
            margin: 20px 0 0 0;
            &:first-child {
                margin-top: 0px;
            }
        }
    }
    .caption-intro {
        p:first-child {
            @include intro-text;
            margin-bottom: 0;
        }
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
    .black {
        background-color: rgba(255,255,255,.7);
        color: $eq-dark-gray;
        * {
            color: $eq-dark-gray;
        }
    }
    .white {
        color: $eq-white;
        background-color: rgba(0,0,0,.7);
        * {
            color: $eq-white;
        }
    }
}
