.eq-event{
  border-bottom: 1px solid $eq-gray;
  padding: 20px 0px;
  &>img{
    max-width:250px;
    max-height: 120px;
    margin-left: 20px;
    @media (max-width:420px) {
      float: none !important;
      margin:auto;
      margin-bottom: 20px;
    }
  }
}
.eq-event-body{
  small, .strong{
    font-size: 16px;
  }
  h3{
    margin:5px 0px;
  }
  .glyphicon{
    font-size: 10px;
    margin: -5px 2px;
  }
}
.eq-event-details{
  margin-top: 40px;

  p{
    color:$eq-mid-gray
  }
}
