/************ START - MCF Component  *********/

//Local Variables
$eq-mcf-content-plus-width: 153px;

.eq-in {
  display: block;
}
.eq-active {
  color: $eq-red!important;
}

//mixins
@mixin eq-mcf-panel() {
    position: absolute;
    float: left;
    width: 300px;
    top: -160px;
    left: 38px;
    z-index: 9999;
    display: none;
    border-radius: $eq-border-radius;
    .panel {
        box-shadow: $eq-box-shadow;
        padding: 10px;
        background: $eq-white;
    }
    .panel-heading {
        background-color: $eq-white;
        padding: 10px 5px;
    }
    .panel-body {
        margin: 5px 0 0 0;
        //padding: 10px 0 10px 10px;
    }
    .eq-widget {
        height: 310px;
        overflow-y: auto;
        // @include widget-feed();
    }
}


//component style
.eq-mcf {
    position: fixed;
    left: 0px;
    top: 300px;
    z-index: 999;
    .eq-mcf-ctrl {
        position: relative;
    }
    .panel-heading {
        h3 {
            font-size: $font-size-h3;
        }
    }
    .btn-default {
        margin-bottom: 3px;
        background-color: $eq-black;
        border-color: $eq-black;
        padding: 9px 9px 3px;
        box-shadow: $eq-box-shadow;
    }
    .btn {
      border-radius: 0px;
        &:focus {
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0;
        }
    }
    .eq-content-rss,
    .eq-content-tweet {
        @include eq-mcf-panel();
    }
    .eq-content-tweet {
        .panel-body {
            padding: 10px 0 10px 0px;
        }
        .eq-widget {
            .list-group {
                padding-right: 10px;
            }
        }
    }

    .eq-content-rss {
        .panel-heading {
            h3 {
                color: $eq-red;
            }
        }
        .eq-widget {
            h4 {
                font-size: $font-size-h4;
            }
            p {
                font-size: $font-size-base - 2;
                color: $eq-mid-gray;
            }
            .list-group {
                padding-right: 10px;
            }
        }
    }
    .eq-content-plus {
        left: - $eq-mcf-content-plus-width;
        top: 0px;
        position: absolute;
        z-index: 999;
        width: $eq-mcf-content-plus-width;
        .panel {
            padding: 0 10px;
            border: none;
            background: $eq-black;
            border-radius: 0px;
        }
        .panel-heading {
            background-color: $eq-black;
            color: $eq-mid-gray;
            padding: 16px 0px;
            h3 {
                font-size: $font-size-h3 - 6; //14px;
            }
        }
        .panel-body {
            background-color: $eq-black;
            box-shadow: $eq-box-shadow;
        }
    }
}
/************ END - MCF Component  *********/
