/* Begin Footer Styles ------------------------------------------------ */

#eq-footer {
  background: $gray-darker;
  padding-bottom: 50px;
  .row {
    margin-top: 10px;
  }
  h3, h4, a {
    color: $eq-white;
  }
  a {
    &:hover {
      color: $eq-red;
      text-decoration: none;
    }
  }
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 40px;
    &:first-child {
      margin: 0;
    }
  }
  p {
    color: $gray-light;
    line-height: 22px;
  }
  ul {
    margin-left: -40px;
    li {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1em;
      list-style-type: none;
    }
  }
  .eq-footer-social {
    a {
      margin-left: 15px;
      font-size: 18px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .eq-footer-bottom, .eq-copyright {
    p {
      font-size: 12px;
    }
  }
  .eq-footer-bottom {
    a {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* End Footer Styles ------------------------------------------------ */
