/* Begin Fixed Footer Styles ------------------------------------------------ */

#eq-footer-fixed {
  transform: translate3d(0,50px,0);
  height: 50px;
  transition: all .3s ease 0s;
  li.dropdown {
    transition: all .3s ease 0s;
    transform: translate3d(0,0px,0);
  }
  li.dropdown.open {
    border-radius: 0px;
    height: 75px;
    transform: translate3d(0,-15px,0);
    a, i {
      color: $eq-red;
    }
  }
  border-top: none;
  .dropdown-menu {
    background: white;
    bottom: 75px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.6);
    left: -40px;
    margin: 20px 0 0 0;
    padding: 15px;
    width: 250px;
  }
  .navbar-text {
    color: #999;
  }
}
#eq-footer-fixed.on {
  position: fixed;
  transform: translate3d(0,0,0);
}

/* End Fixed Footer Styles ------------------------------------------------ */
