/* Begin Banner Styles ------------------------------------------------ */
.banner-styles-unique-id{
  background-image: url('../images/banner-background.png');
}
.banner-130{
  height: 130px;
  @include xsmall {
    width: 100%;
    height: auto;
  }
}
.banner-170{
  height: 170px;
  @include xsmall {
    height: auto;
  }
}
.banner-220{
  height: 220px;
  @include xsmall {
    height: auto;
  }
}
.banner-340{
  height: 340px;
  @include xsmall {
    height: auto;
  }
}
.banner-caption-right{
  float: right;
  @include xsmall{
      float: none;
  }
}
.media-column{
    @include xsmall{
        width: 100%;
    }
}
.caption-column{
    @include xsmall{
        width: 100%;
    }
}
.banner-chevron{
    &.eq-banner{
        padding: 0 !important;
    }
  .row{
    height: 100%;
  }
  padding: 0;
  div[class^="col-"], div[class*="col-"] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px 20px 40px;
    height: 100%;
    background-color: $eq-red;
    @include xsmall {
      width: 65%;
      padding: 10px 10px 5px 30px;
    }
    @include mobile{
        padding: 5px 10px 0 20px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 2000px;
        height: 170px;
        background-color: $eq-red;
        right: 0;
        top: 0
    }
    &::after {
        height: 250px;
        right: -60px;
        top: -14px;
        transform: rotate(-30deg);
        border-left: 120px solid $eq-red;
        content: "";
        position: absolute;
        z-index: 1;
    }
  }
}
.eq-banner {
    padding: 30px;
    margin: 0 0 40px 0;
    > row{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    @include xsmall{
        padding: 10px 15px 0 15px;
    }
    background-size: cover;
    width: 100%;
    overflow: hidden;
  p {
    z-index: 100;
    @include medium{
        display: block;
        margin: 10px 0 0 0;
    }
    @include large{
        margin: 20px 0;
    }
    display: none;
  }
  &.eq-text-white {
    h2, p, a {
      color: $eq-white;
    }
  }
  &.eq-text-black {
    h2, p {
      color: $eq-black;
    }
  }
  h2 {
    margin: 0;
    font-size: 3.2rem;
    z-index: 100;
    @include xsmall {
      font-size: 2.4rem;
    }
    @include mobile {
      font-size: 1.8rem;
    }
  }
  a, a:hover {
      font-size: inherit;
      @include xsmall{
          font-size: 1.4rem;
      }
      @include mobile{
          font-size: 1.2rem;
      }
    }
    a.mobile-video-link {
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 0;
      color: #fff !important;
      padding: 10px 5px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      i{
          margin-right: 5px;
      }
      &:hover{
          font-size: 1rem;
      }
    }
  &.banner-centered{
      text-align: center;
      display: flex;
      align-items: center;
      .row{
          @include xsmall{
              width: 100%;
          }
      }
      div[class^="col-"], div[class*="col-"]{
          padding-left: 20px;
          padding-right:20px;
          @include xsmall{
              width: 100%;
          }
      }
  }
  &.media-banner{
      @include xsmall{
          padding: 10px 0 0 0;
      }
      div[class^="col-"], div[class*="col-"]{
          @include xsmall{
              padding: 0 30px;
          }
      }
  }
  &.banner-full-width, &.banner-chevron{
      .container{
          height: 100%;
      }
  }
  .img-responsive{
      max-height: 280px;
      max-width: 100%;
      width: auto;
      float: right;
  }
}

/* End Banner Styles ------------------------------------------------ */
