
/* Begin Media Module Styles ------------------------------------------------ */

.eq-media-module {
    margin-bottom: 40px;
    h2 {
        margin: 0 0 20px;
        @include xsmall {
            margin: 0 0 10px;
        }
    }
    $margin: 15px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .eq-media-module-img,
    .eq-media-module-text {
        display: block;
        float: left;
    }
    .eq-media-module-align-right {
        margin-left: $margin;
        @include xsmall {
            margin-left: 0;
        }
        @include small {
            margin-bottom: $margin;
        }
        margin-bottom: 0;
    }
    .eq-media-module-align-left {
        margin-bottom: 0;
        @include xsmall {
            margin-right: 0;
        }
        @include small {
            margin-right: $margin;
            margin-bottom: $margin;
        }
    }
    &.eq-media-module-inline {
        .eq-media-module-img {
            display: inline;
        }
        .eq-media-module-img.eq-media-module-align-right {
            float: right;
        }
        .eq-media-module-text {
            float: none;
            width: 100%;
        }
    }
    .eq-media-module-width-3 {
        width: 23%;
        width: -webkit-calc(25% - 15px);
        width:    -moz-calc(25% - 15px);
        width:         calc(25% - 15px);
    }
    .eq-media-module-width-4 {
        width: 31.33%;
        width: -webkit-calc(33.33% - 15px);
        width:    -moz-calc(33.33% - 15px);
        width:         calc(33.33% - 15px);
    }
    .eq-media-module-width-5 {
        width: 39.667%;
        width: -webkit-calc(41.667% - 15px);
        width:    -moz-calc(41.667% - 15px);
        width:         calc(41.667% - 15px);
    }
    .eq-media-module-width-6 {
        width: 48%;
        width: -webkit-calc(50% - 15px);
        width:    -moz-calc(50% - 15px);
        width:         calc(50% - 15px);
    }
    .eq-media-module-width-7 {
        width: 58.33%;
        width: -webkit-calc(58.33% - 15px);
        width:    -moz-calc(58.33% - 15px);
        width:         calc(58.33% - 15px);
    }
    .eq-media-module-width-8 {
        width: 64.67%;
        width: -webkit-calc(66.67% - 15px);
        width:    -moz-calc(66.67% - 15px);
        width:         calc(66.67% - 15px);
    }
    .eq-media-module-width-9 {
        width: 75%;
        width: -webkit-calc(75% - 15px);
        width:    -moz-calc(75% - 15px);
        width:         calc(75% - 15px);
    }
    .eq-media-module-width-12 {
        width: 100%;
    }
    .eq-media-module-img,
    .eq-media-module-text {
        @include mobile {
            margin: 0 0 $margin;
            display: block;
            width: 100%;
        }
    }
    .eq-media-module-img {
        // margin-bottom: $margin;
        &.eq-media-module-width-12.eq-media-module-align-right
        {
            margin-left:0px;
        }
    }
}
.eq-media-module.panel {
    .eq-media-module-align-right {
        margin-left: 0;
    }
    .eq-media-module-align-left {
        margin-right: 0;
    }
}
//** Set circular images to have rounded outside shape
//** Need to write conditional to check if class="img-circle"
@supports(shape-outside: circle()){
  .media-left > .img-circle,
  .eq-media-module-circle {
    float: left;
    shape-outside: circle(50%);
    margin-right: 20px;
  }
}


/* End Media Module Styles ------------------------------------------------ */
