/* Begin Featured Events Styles ------------------------------------------------ */

.featured-post{
    ul.recent-posts{
        padding-left: 0;
        margin-left: 0;
    }
    .caption.bottom.white {
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      vertical-align: bottom;
      .featured-caption{
          color: $eq-white;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 0 10px 10px 10px;
      }
      .byline {
          display: block;
          font-size: 11px;
          font-size: 1.1rem;
          line-height: 1;
        }
    }
}

figure.featured-image{
    width: 100%;
    height: 200px;
    background-size: cover !important;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px 0;
    &.featured-news{
        background: url("http://www.equinix.com/ss/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1308113267101&ssbinary=true");
    }
    &.featured-event{
        background: url('http://www.equinix.com/ss/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1308113203327&ssbinary=true');
    }
    &.featured-resource{
        background: url('http://www.equinix.com/ss/Satellite?blobcol=urldata&blobkey=id&blobtable=MungoBlobs&blobwhere=1308113578731&ssbinary=true');
    }
}

/* End Featured Events Styles ------------------------------------------------ */
