/************ START - Carousel Component  *********/
.eq-carousel {
  .eq-carousel-controls {
    @include medium {
        display: block;
    }
    @include small {
        display: block;
    }
    position: absolute;
    display: none;
    width: 100%;
    top:40%;
  }
  .carousel-indicators {
    @include medium {
        bottom:-10px;
    }
    @include small {
        bottom:-10px;
    }
    bottom:-40px;
    li {
      margin: 0 5px;
      border: 1px solid $eq-red;
      height: 11px;
      width: 11px;
      &.active{
        background-color:$eq-red;
      }
    }
  }
  .carousel-control {
    display: block;
    width: 70px;
    height: 60px;
    opacity:0;
    transition: opacity .25s ease-in-out;
    background-color: $eq-white;
    &.right, &.left{
      background-image: none;
      text-shadow: none;
    }
    &:hover {
      opacity:.8;
    }
  }
  .fa {
    color:$eq-red;
  }
}

/************ Start - dotCMS Carousel Component  *********/
.dotContainer {
    .eq-carousel-controls {
        display: none !important;
    }
    ol.carousel-indicators {
        display: none;
    }
}
/************ END - dotCMS Carousel Component  *********/
/************ END - Carousel Component  *********/
