/* Begin Tab Styles ------------------------------------------------ */

.eq-tabs {
    .nav-tabs > li.active > a,
    .nav-tabs > li > a {
        background-color: transparent;
        outline: 0;
        margin-bottom: 20px;
        border: none;
        padding: 25px 0 0;
        color: #333;
        font-weight: bold;
    }
    .nav-tabs {
      text-align: center;
      li {
          display: inline-block;
          float: none;
          margin: 0 15px;
          a {
              background: inherit;
              border: none;
          }
      }
      li.active > a,
      li.active > a:focus,
      li.active > a:hover,
      li:focus > a,
      li:hover > a {
        margin-bottom: 7px;
        border: none;
        border-bottom: 3px solid $eq-red;
        color: $eq-red;
        background: inherit;
      }
    }
}
.eq-tabs-primary {
    .nav-tabs {
        display: table;
        width: 100%;
        margin: 20px 0 30px;
        padding: 6px;
        background: #eee;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        li {
            display: table-cell;
            float: none;
            border-right: 1px solid #ddd;
            text-align: center;
            transition: background-color ease 300ms;
            &.active {
                background: #333;
                border-right: 1px solid transparent;
                border-radius: 3px;
                color: #fff;
            }
            &:last-child,
            &:last-child.active {
                border-right: none;
            }
            &.active > a,
            &.active > a:focus,
            &.active > a:hover {
                background: 0 0;
                border: 0;
                margin-bottom: 0;
                color: #fff;
                text-decoration: none;
            }
            a {
                margin: 0;
                padding: 25px 0 20px;
                border: 0;
                line-height: 1;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.eq-tabs,
.eq-tabs-primary {
    .nav-tabs > li > a {
        font-weight: bold;
    }
}
ul.nav.nav-tabs {
    margin: 0px;
}
.tab-content {
    margin: 15px 0;
}

/* End Tab Styles ------------------------------------------------ */
