.eq-maps{
  position: relative;
  img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
.eq-maps-loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 1;
}
.eq-map-body{
  height:400px;
}
.after_modal_appended
{
  position:relative;
}

  .eq-maps .modal, .modal-backdrop {
      position: absolute !important;
  }



  .eq-map-overlay {
      position: absolute;
      padding: 35px;
      top: 45px;
      left: 45px;
      display: flex;
      bottom: 45px;
      right: 45px;
      align-items: center;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.5);
      *:not(a){
          color:rgba(255,255,255,1);
      }
  }

  .eq-map-overlay-close {
      position: absolute;
      top: 20px;
      right: 20px;
      &:hover{
        color: rgba(255,255,255,0.5);
        cursor: pointer;
      }
      i{
          font-size: 18px;
          color: rgba(255,255,255,0.3);

      }
  }
