/* Begin Callout Styles ----------------------------------*/

.callout-wrapper {
    padding: 20px 0;
    &.callout-borders {
        border-top: 1px solid $eq-gray;
        border-bottom: 1px solid $eq-gray;
    }
    i {
        margin-right: 5px;
        position: relative;
        top: 3px;
    }
}

/* End Callout Styles ----------------------------------*/
